{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<div class="page-wrapper">
    <!--page-content-wrapper-->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
                <div class="breadcrumb-title pr-3">Camere</div>
                <div class="pl-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a href="javascript:;"><i class='bx bx-home-alt'></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Camere</li>
                        </ol>
                    </nav>
                </div>
                <div class="ml-auto">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">Settings</button>
                        <button type="button" class="btn btn-primary bg-split-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">	<span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">	<a class="dropdown-item" href="javascript:;">Action</a>
                            <a class="dropdown-item" href="javascript:;">Another action</a>
                            <a class="dropdown-item" href="javascript:;">Something else here</a>
                            <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end breadcrumb-->
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card radius-15 border-lg-top-primary">
                        <div class="card-body p-5">
                            <div class="card-title d-flex align-items-center">
                                <div>TIPOLOGIA CAMERE
                                    <button type="button" class="btn btn-primary ml-2 btn-sm" style = "border-radius: 100px; font-size: 10PX;" data-toggle="modal" data-target="#exampleModal3">AGGIUNGI <i class="bi bi-node-plus" style="vertical-align: middle"></i></button>
                                <!-- Modal -->

                                <form action = '\camere' method = "POST">
                                    {{ form.hidden_tag() }}
                                    <!---{{ form.csrf_token }}-->
                                    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">AGGIUNGI CAMERA</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">	
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-body">
                                                        <div class="form-row">
                                                            <div class="form-group col-md-4">
                                                                {{ form.numero_persone.label()}} 
                                                                {{ form.numero_persone()}}

                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                {{ form.tipologia.label()}} 
                                                                {{ form.tipologia()}}
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                {{ form.tipo.label()}} 
                                                                {{ form.tipo()}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                                                    <button type="submit" name = "submit" class="btn btn-primary">Salva</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- END Modal -->

                                </div>
                                <h4 class="mb-0 text-primary"></h4>
                            </div>
                            <hr/>
                                
								<div class="table-responsive" style="border-radius: 10px;overflow:hidden;">
									<table class="table table-striped table-bordered mb-0" style = "border-radius: 10px;">
                                        <thead class="thead-dark">
											<tr>
												<th scope="col"><i class="bi bi-person-circle"></i></th>
												<th scope="col">Nome</th>
												<th scope="col">Tipo</th>
                                                <th scope="col">Azioni</th>
											</tr>
										</thead>
										<tbody>
                                            {% for tipologiaCamera in tipologiaCamere %}
                                                <tr>
                                                    <td>{{ tipologiaCamera.numeri_posti }}</td>
                                                    <td>{{ tipologiaCamera.tipologia }}</td>
                                                    <td>{{ tipologiaCamera.tipo }}</td>
                                                    <td>
                                                    <div class="btn-group pull-right">
                                                        <button id="bEdit" data-tipologia = "{{tipologiaCamera.id}}" type="button" data-toggle="modal" data-target="#modificaTipologia" class="btn btn-sm btn-default openModalModificaTipologia">
                                                            <span class="fa fa-edit" > </span>
                                                        </button>
                                                        <button id="bDel" type="button" data-tipologia = "{{tipologiaCamera.id}}" data-toggle="modal" data-target="#eliminaTipologia"  class="btn btn-sm btn-default openModalEliminaTipologia">
                                                            <span class="fa fa-trash" > </span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
                        </div>
                    </div>
                </div>

                <!-- CAMERE FISICHE -->

                <div class="col-12 col-lg-6">
                    <div class="card radius-15 border-lg-top-primary">
                        <div class="card-body p-5">
                        <!---<form action="/preventivo" method="POST">-->
                            {% for tipoCamera in tipologiaCamere %}
                                    <div style ="color :white;background-color:#343a40;border-radius: 15px;padding: 10px;" class="row mb-3">
                                        <div class="col-2">
                                            <i class="bi bi-person-circle"></i> {{ tipoCamera.numeri_posti }}
                                        </div>
                                        <div class="col-7">
                                            {{ tipoCamera.tipologia }}
                                        </div>
                                        <div style = "border-radius : 10px; background-color: yellowgreen" class="col-3 d-flex justify-content-center" >
                                            <button type="button mx-auto" style="width:100%;border:none;background-color: transparent;height:20px" id = "{{ tipoCamera.id }}" class="btn btn-primary d-flex justify-content-center align-items-center openModalAddCamera" data-toggle="modal" data-target="#cameraFisica"><i style = "font-size: 10px;" class="bi bi-plus-circle mx-auto"></i></button>
                                            
                                        </div>
                                    </div>
                            
                            
                            <div class="table-responsive mb-4" style="border-radius: 10px;overflow:hidden;">
                                <table class="table table-striped table-bordered mb-0" style = "border-radius: 10px;" id="table{{tipoCamera.id}}">
                                    <tbody>
                                        {% for camera in tipoCamera.camere %}
                                                <tr data-camera = '{{camera.id}}'>
                                                    <td>{{ camera.numeroCamera }}</td>
                                                    <td>{{ tipoCamera.numeri_posti }}</td>
                                                </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% endfor %}
                            <!--MODAL CAMERA FISICA-->
                            <form action = '\camere' id="formCamera" method = "POST">
                                {{ formCamere.hidden_tag()}}
                                <div class="modal fade" id="cameraFisica" style="color:black" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">AGGIUNGI</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">	
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-body">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12">
                                                            {{ formCamere.numero_camera.label()}} 
                                                            {{ formCamere.numero_camera()}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                                                <button type="submit" name = "submit" value = "camere" class="btn btn-primary">Salva</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END Modal -->
                            <form method="POST" action="\modificaTipologia">
                                {{ formModificaTipologia.hidden_tag() }}
                                <!---{{ formModificaTipologia.csrf_token }}-->
                                <div class="modal fade" id="modificaTipologia" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">MODIFICA TIPOLOGIA</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">	
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-body">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-3">
                                                            {{ formModificaTipologia.id_tipologia.label()}} 
                                                            {{ formModificaTipologia.id_tipologia()}}
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            {{ formModificaTipologia.numero_persone.label()}} 
                                                            {{ formModificaTipologia.numero_persone(id="formModificaNumeroPersone")}}
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            {{ formModificaTipologia.tipologia.label()}} 
                                                            {{ formModificaTipologia.tipologia(id="formModificaTipologia")}}
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            {{ formModificaTipologia.tipo.label()}} 
                                                            {{ formModificaTipologia.tipo(id="formModificaTipo")}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                                                <button type="submit" name = "submit" class="btn btn-primary">Modifica</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END Modal -->
                            <form id="eliminaTipologiaForm">
                                <!--<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />-->
                                <div class="modal fade" id="eliminaTipologia" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">SEI SICURO ?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">	
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                SEI SICURO DI VOLER CANCELLARE QUESTA CAMERA ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                                                <button type="submit" name = "submit" value = "camere" class="btn btn-danger">Elimina</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END Modal -->
                        </div>
                </div>
             </div>
        </div>
    </div>
</div>

<!-- modal -->
<script src="{{ url_for ('static', filename= '/plugins/edittable/bstable.js')}}"></script>
<!--<script type="text/javascript" src="{{ url_for ('static', filename= '/modules/main.js')}}"></script>-->
<script type="module">
import {camere} from "{{ url_for ('static', filename= '/modules/main.js')}}"
camere ('{{form.csrf_token}}');
</script>

    


{% endblock %}